<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /category
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /category/index.html [L]
</IfModule>